{{> menu active="about"}}
<div class="content box">
  <p class="title">
    About Placemark
  </p>
  <p class="pb-4">
    A compact application and API for logging points of interest.
    <br>
    Users can create multiple placemarks within set categories and add a placemark to their favourites too.
    <br>
    <br>
    Placemark is a collaborative effort to create a free application for the public
    consumption.
    <br />
    Please reach out to us if you have any questions or feedback.
    <br>
    <br>
    Please click <a href="/documentation">here</a> to view the API documentation or check out the github repo <a href="https://github.com/chipspeak/placemark">here</a>.
  </p>
  <div class="columns">
    <div class="column is-offset-10">
      <a href="https://github.com/chipspeak/placemark"><i class="fa-brands fa-2x has-text-success fa-github"></i></a>
    </div>
    <div class="column">
      <a href="https://twitter.com/rickastley"><i class="fa-brands fa-2x has-text-success fa-twitter"></i></a>
    </div>
    <div class="column">
      <a href="https://www.instagram.com/officialrickastley/"><i class="fa-brands fa-2x has-text-success fa-instagram"></i></a>
    </div>
  </div>
</div>