{{> menu active="categories"}}
<section class="section">
  {{#if placemarks.length}}
  {{> list-placemarks}}
{{else}}
<div class="box">
  <p>No placemarks found for this category.</p>
</div>
{{/if}}
  {{> add-placemark}}
</section>