<div class="columns mt-5 is-centered">
  <div class="column">
    <div class="card">
      <header class="card-header has-background-success">
        <p class="card-header-title has-text-white">Create a new Placemark</p>
      </header>
      <div class="card-content">
        <div class="content">
          <form action="/dashboard/addplacemark" method="POST">
            <div class="columns">
              <!-- Left column -->
              <div class="column">
                <div class="field">
                  <label class="label">Title</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="Enter Title" name="title">
                  </div>
                </div>
              </div>
              <!-- Right column -->
              <div class="column">
                <div class="field">
                  <label class="label">Location</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="Enter Location" name="location">
                  </div>
                </div>
              </div>
            </div>
            <div class="columns">
              <!-- Left column -->
              <div class="column">
                <div class="field">
                  <label class="label">Description</label>
                  <div class="control">
                    <textarea class="textarea" placeholder="Enter Description (max 200 characters)" name="description" rows="5"></textarea>
                  </div>
                </div>
              </div>
              <!-- Right column -->
              <div class="column">
                <div class="columns">
                  <!-- Left column (Longitude) using pattern in both to ensure numbers can be positive or negative with values up to 180 and 6 decimal places-->
                  <div class="column">
                    <div class="field">
                      <label class="label">Longitude</label>
                      <div class="control">
                        <input class="input" type="text" placeholder="Enter Longitude" name="longitude" pattern="^-?([1-9]|[1-8][0-9]|90)(\.\d{1,6})?$">
                      </div>
                    </div>
                  </div>
                  <!-- Right column (Latitude) -->
                  <div class="column">
                    <div class="field">
                      <label class="label">Latitude</label>
                      <div class="control">
                        <input class="input" type="text" placeholder="Enter Latitude" name="latitude" pattern="^-?([1-8]?[1-9]|[1-9]0)(\.\d{1,6})?$">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="columns">
                  <!-- Category field -->
                  <div class="column">
                    <div class="field">
                      <label class="label">Category</label>
                      <div class="control">
                        <div class="select is-fullwidth">
                          <select name="category">
                            <option value="Park">Park</option>
                            <option value="Castle">Castle</option>
                            <option value="Ruin">Ancient Ruin</option>
                            <option value="Walk">Walk</option>
                            <option value="Beach">Beach</option>
                            <option value="River">River</option>
                            <option value="Lake">Lake</option>
                            <option value="Waterfall">Waterfall</option>
                            <option value="Hike">Hike</option>
                            <option value="Cave">Cave</option>
                            <option value="Ringfort">Ringfort</option>
                            <option value="Dolmen">Dolmen</option>
                            <option value="Monument">Monument</option>
                            <option value="National Park">National Park</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Add Placemark button -->
                  <div class="column">
                    <div class="field">
                      <label class="label"><br></label>
                      <div class="control">
                        <button class="button is-success is-outlined is-hoverable">Add Placemark<i
                          class="fa-solid fa-map-pin pl-3"
                          ></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
