{{>placemark-brand}}
<br>
<nav class="navbar is-transparent">
  <div class="navbar-menu is-hoverable">
    <div class="navbar-end">
      <a id="signup" class="button is-success mx-2 is-outlined" href="/signup">Signup<i class="fa-solid fa-user-plus pl-2"></i></a>
      <a id="login" class="button is-success mx-2 is-outlined" href="/login">Login<i class="fa-solid fa-users pl-2"></i></a>
    </div>
  </div>
</nav>
<script>
  document.getElementById("{{active}}").classList.add("is-focused");
</script>
<br>
